
@color-background: #0f0f30;
@color-main: darkblue;
@color-secondary: #323dca;
@color-accent: darkorange;
@color-accent-secondary: rgba(255, 140, 0, 0.65);

* {
	color: @color-main;
	font-family: "JetBrains Mono", "Andale Mono", "Droid Sans Mono", monospace;
}

button,
input[type="submit"] {
	cursor: pointer;
	background-color: midnightblue;
	color: white;
	border-radius: .3em;
}
button:active,
input[type="submit"]:active {
	background-color: @color-secondary;
}

input[type="checkbox"] {
	accent-color: @color-accent;
}

.text-secondary {
	color: @color-secondary;
}
.text-secondary.small {
	font-size: .8em;
}